<nav th:fragment="nav_bar" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" th:href="@{/}">ECommerce</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/producto/listar}">Catálogo</a>
                </li>
            </ul>
            <div class="d-flex">

                <button class="btn btn-outline-secondary me-2" sec:authorize="hasAnyAuthority('ADMIN','USER')" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"
                        aria-controls="offcanvasTop"> user
                </button>

                <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop"
                     aria-labelledby="offcanvasTopLabel">
                    <div class="offcanvas-header">
                        <h5 id="offcanvasTopLabel fw-bold">Información del Usuario</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                          <h2 class="text-center"> Usuario <span class="fw-bold badge rounded-pill bg-dark" sec:authentication="name"></span> </h2>
                    </div>
                </div>

                <a class="btn btn-outline-secondary hvr-grow me-1" th:href="@{/login}"
                   sec:authorize="!hasAnyAuthority('ADMIN','USER')">Sign In</a>


                <form method="post" th:action="@{/logout}">
                    <button type="submit" class="btn btn-outline-dark hvr-grow" sec:authorize="hasAnyAuthority('ADMIN','USER')">Logout</button>
                </form>
            </div>
        </div>
    </div>
</nav>






